###Importing all necessary libraries

In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

### Importing the dataset

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/caravanuden/cardio/master/heart.csv")

### Info about data

In [ ]:
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

###Dividing the dataset into features and target

In [ ]:
x = data.drop('target',axis = 1) 
y = data.target

###Preprocessing

In [ ]:
scaler = StandardScaler()
x = scaler.fit_transform(x)

###Train data and test data split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=109)

In [ ]:
print(x_train.shape, x_test.shape)

(212, 13) (91, 13)

### A Function for evaluating the models

In [ ]:
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support, accuracy_score
def model_evaluation(y_test, y_pred):
  cm = confusion_matrix(y_test, y_pred)
  print(cm)
  prf = precision_recall_fscore_support(y_test, y_pred)
  precision = list(prf[0])
  recall = list(prf[1])
  f_score = list(prf[2])
  support = list(prf[3]) 
  
  print("Accuracy:", accuracy_score(y_true = y_test, y_pred = y_pred)*100)
  print("Precision:", precision)
  print("Recall:", recall)
  print("F-score:", f_score)
  print("Support:", support)

### Applying linear kernel SVM model on the dataset

In [ ]:
linear_svm = svm.SVC(kernel='linear')
linear_svm.fit(x_train, y_train)
y_pred1 = linear_svm.predict(x_test)

###Applying gaussian kernel SVM on dataset

In [ ]:
gaussian_svm = svm.SVC(kernel='rbf')
gaussian_svm.fit(x_train, y_train)
y_pred2 = gaussian_svm.predict(x_test)

###Evaluating linear model

In [ ]:
model_evaluation(y_test, y_pred1)

[[35  5]
 [ 4 47]]
Accuracy: 90.10989010989012
Precision: [0.8974358974358975, 0.9038461538461539]
Recall: [0.875, 0.9215686274509803]
F-score: [0.8860759493670887, 0.9126213592233009]
Support: [40, 51]

###Evaluating Gaussian model

In [ ]:
model_evaluation(y_test, y_pred2)

[[33  7]
 [ 7 44]]
Accuracy: 84.61538461538461
Precision: [0.825, 0.8627450980392157]
Recall: [0.825, 0.8627450980392157]
F-score: [0.825, 0.8627450980392157]
Support: [40, 51]

In [ ]:
from pickle import dump

dump(linear_svm, open('linear_svm_model.pkl', 'wb'))
dump(gaussian_svm, open('gaussian_svm_model.pkl', 'wb'))
dump(scaler, open('scaler.pkl', 'wb'))

In [ ]:
from pickle import load
model = load(open('linear_svm_model.pkl', 'rb'))
scaler = load(open('scaler.pkl', 'rb'))
data = pd.DataFrame([63, 1, 3, 145, 233, 1, 0, 150, 0, 2.3, 0, 0, 1]).T
df = scaler.transform(data)
print(int(model.predict(df)))

1